.main-header {
  height: 75px;
   background: rgb(248, 242, 250);
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
 
}

/* LEFT SIDE */
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcome-text {
  font-size: 22px;
  font-weight: 600;
  color: #111827;
  margin: 0;
}

.header-date {
  color: #6b7280;
  font-size: 14px;
}

/* RIGHT SIDE */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-icon {
  font-size: 20px;
  cursor: pointer;
}

/* PROFILE */
.user-profile {
  position: relative;
  cursor: pointer;
}

.avatar-placeholder {
  width: 38px;
  height: 38px;
  background: #f3f4f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DROPDOWN */
.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 150px;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f4f6;
}

.logout {
  color: #ef4444;
}