/* Header Background */
.header {
  width: 100%;
  background: linear-gradient(to right, #eef2f3, #dbe6f6);
  padding: 15px 0;
  position: fixed;
  z-index: 9999;
}

/* Container */
.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.logo-icon {
  font-size: 22px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #1f3c88;
}

/* Navigation */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: medium;
  color: #333;
  position: relative;
  padding-bottom: 5px;
  transition: 0.3s;
}

/* Active Link Underline */
.nav-link:hover {
  color: #002fff;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5b79ff;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
 
}

/* Auth Button */
.auth-btn {
  padding: 8px 20px;
  border-radius: 25px;
  border: 1px solid #1f3c88;
  text-decoration: none;
  color: #1f3c88;
  font-weight: 500;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #1f3c88;
  color: white;
}