.home-blog {
  padding: 100px 6%;
    background: linear-gradient(120deg, #ffffff 0%, #ffffff 100%);
}

.home-blog-header {
  text-align: center;
  margin-bottom: 60px;
}

.home-blog-header h2 {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.home-blog-header p {
  color: #000000;
  margin-top: 10px;
  font-weight: 500;
}

.home-blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.home-blog-card {
     background: linear-gradient(180deg, #ffffff, #bed9ff);
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.home-blog-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.blog-badge {
  display: inline-block;
  padding: 5px 12px;
  background: #000;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.home-blog-card h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.home-blog-card p {
  font-size: 14px;
  color: #1c1c1c;
  margin-bottom: 20px;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #888;
}

.home-blog-btn {
  text-align: center;
  margin-top: 50px;
}

.home-blog-btn button {
  padding: 12px 30px;
  border: none;
  background: #000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.home-blog-btn button:hover {
  background: #333;
}
